<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= currentGenre.genre_name %></title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo"></div>
        <div class="nav-margin"></div>
        <%- include('navbar', {links:links}) %>
      </div>
    </header>
    <h2><%= currentGenre.genre_name %></h2>
    <ul>
      <div class="manga-list">
        <% manga_books.forEach(manga => { %>
        <div class="manga-item">
          <img
            src="<%= manga.image_path%>"
            alt="<%= manga.name %> cover photo"
          />
          <li><%= manga.name %></li>
          <li><%= manga.published_year %></li>
          <li><%= manga.description%> </li>
          <li><%= manga.authors%></li>
          <a href="/manga/<%= manga.id%>">View Details</a>
        </div>
        <% }) %>
      </div>
    </ul>
  </body>
</html>
