<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Manga | Manga Zen</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Manga Collection</h1>
        <div class="logo"></div>
        <%- include('navbar', {links:links}) %>
      </div>
    </header>

    <main>
      <div class="manga-list">
        <% mangaList.forEach(manga => { %>
        <div class="manga-item">
          <img
            src="<%= manga.image_path %>"
            alt="<%= manga.name %> cover photo"
          />
          <h2><%= manga.name %></h2>
          <p>Published: <%= manga.published_year %></p>
          <a href="/manga/<%= manga.id %>">View Details</a>
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
