<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/icons/yin-yang-leaf-symbol-svgrepo-com.png">
    <title>Manga | Manga Zen</title>
  </head>
  <body>
    <header>
      <div class="navbar"><%- include('navbar', {links:links}) %></div>
    </header>

    <main class="manga">
      <div class="manga-list">
        <% mangaList.forEach(manga => { %>
        <div class="manga-item">
          <img
            src="<%= manga.image_path %>"
            alt="<%= manga.name %> cover photo"
          />
          <h2><%= manga.name %></h2>
          <div class="item-footer">
            <p>Published: <%= manga.published_year %></p>
            <a href="/manga/<%= manga.id %>">View Details</a>
          </div>
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
