<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %> | Manga Zen</title>
  </head>
  <body>
    <main class="wrapper manga-form">
      <% if (errorMessage) { %>
        <%- include('partials/error-message', {
          errorMessage: errorMessage,
          redirectUrl: redirectUrl
        }) %>
      <% } %>
      <h1 class="manga-form-title"><%= title %> </h1>
      <form class="manga-wrapper" method="post" action="/add-manga" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name"> Manga Name: </label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form-group">
          <label for="image_path">Cover Photo</label>
          <input
            type="file"
            name="image_path"
            id="image_path"
            accept="image/*"
            required
          />
          <small>Max size 5MB. Accepted formats: JPG, JPEG, PNG</small>
        </div>
        <div class="form-group">
          <label for="published_year">Published Year:</label>
          <input type="text" name="published_year" id="published_year" required />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea rows="4" name="description" id="description"></textarea>
        </div>
        <div class="form-group">
          <label for="author_name">Author:</label>
          <input type="text" name="author_name" id="author_name" required />
        </div>
        <div class="form-group">
          <label>Genres:</label>
          <div class="genres-container">
              <% if (genres && genres.length) { %>
                  <% genres.forEach((genre) => { %>
                      <label class="genre-checkbox">
                          <input type="checkbox"
                                 name="genres[]"
                                 value="<%= genre.genre_name %>">
                          <%= genre.genre_name %>
                      </label>
                  <% }); %>
              <% } else { %>
                  <p>No genres available. Please add genres first.</p>
              <% } %>
          </div>
      </div>
        <div class="form-group last">
          <button type="submit" class="btn btn-primary">Add Manga</button>
          <a class="btn-cancel" href="/"><div>Cancel</div></a>
        </div>
      </form>
    </main>
  </body>
</html>
