<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/icons/yin-yang-leaf-symbol-svgrepo-com.png">
    <title><%= manga.name %></title>
  </head>
  <body>
    <header>
      <div class="navbar"><%- include('navbar', {links:links}) %></div>
    </header>
    <main class="manga-list-filtered">
      <div class="manga-filtered-wrapper">
        <div class="manga-cover">
          <img
            class="img"
            src="<%= manga.image_path%>"
            alt="<%= manga.name %> cover photo"
          />
          <h2 class="manga-title"><%= manga.name %></h2>
          <div class="bg-wrapper">
            <a id="update-link" href="/manga/<%= manga.id %>/update"><img src="/edit-2-svgrepo-com.png" alt="edit-icon"></a>
            <a id="delete-link" href="/manga/<%= manga.id %>/delete/confirm"><img src="/delete.png" alt="delete-icon"></a>
          </div>
        </div>
        <div><%= manga.published_year%></div>
        <div class="manga-desc">
          <div><p><%= manga.description%></p></div>
          <div class="author-wrapper"><img src="/user.png" alt="author-icon"><%= manga.authors%></div>
          <div><p class="manga-txt">Genre: <%= manga.genres%></p></div>
        </div>
      </div>
    </main>
  </body>
</html>
