<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Manga Zen</title>
  </head>
  <body>
    <div class="main">
      <h1><%= title %></h1>
    </div>
    <form
      method="POST"
      action="/manga/<%= manga.id %>/update"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="name"> Manga Name </label>
        <input type="text" name="name" id="name" value="<%= manga.name%>" required />
      </div>

      <div class="form-group">
        <label for="published_year">Published Year</label>
        <input
          type="text"
          name="published_year"
          id="published_year"
          value="<%= manga.published_year%>"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          value="<%= manga.description%>"
          id="description"
        />
      </div>

      <div class="form-group">
        <label>Genres:</label>
        <div class="genres-container">
          <input type="checkbox" 
                name="genres[]" 
                value="<%= genre.genre_name %>"
                <% if (manga.genres && manga.genres.includes(genre.genre_name)) { %>checked<% } %>>
        </div>
      </div>

      <div class="form-group">
        <label for="image_path">Cover Photo</label>
        <input
          type="file"
          name="image_path"published_year
          id="image_path"
          accept="image/*"
          value="<%= manga.image_path %>"
          required
        />
        <small>Max size 5MB. Accepted formats: JPG, JPEG, PNG</small>
      </div>

      <div class="form-group">
        <label for="author_name">Author Name</label>
        <input
          type="text"
          name="author_name"
          id="author_name"
          value="<%= manga.author_name required %>"
        />
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="/">Cancel</a>
    </form>
  </body>
</html>
